/*resets*/
@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url('../fonts/Poppins-Regular.woff2');
}

@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url('../fonts/Poppins-SemiBold.woff2');
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url('../fonts/Poppins-Medium.woff2');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}