@charset "UTF-8";
/*resets*/
@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.woff2");
}
@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url("../fonts/Poppins-SemiBold.woff2");
}
@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.woff2");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100dvh;
  background-color: #fff;
  padding: 37px 28px;
  width: 100%;
  max-width: 306px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1199px) {
  aside {
    padding: 27px 28px;
    position: absolute;
    top: 0;
    left: -250px;
    visibility: hidden;
    max-width: 250px;
  }
}
aside .aside__btn {
  display: none;
  visibility: visible;
  position: absolute;
  top: 0;
  right: -58px;
  color: #fff;
  font-weight: 600;
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
aside .aside__btn .aside__btn-img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1199px) {
  aside .aside__btn {
    right: -50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
aside .logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  font-size: 26px;
  cursor: pointer;
  margin-bottom: 64px;
}
@media (max-width: 1024px) {
  aside .logo {
    margin-bottom: 30px;
  }
}
aside .logo p {
  font-weight: 700;
}
aside .logo .logo__img {
  width: 37px;
  height: 37px;
}
aside .logo .logo__span {
  color: #838383;
  font-size: 10px;
}
aside .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 1024px) {
  aside .menu {
    gap: 10px;
  }
}
aside .menu-item {
  padding: 10px;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  aside .menu-item {
    padding: 5px;
    border-radius: 5px;
  }
}
aside .menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9197B3;
  font-size: 14px;
  font-weight: 500;
}
aside .menu-item a .arrow {
  display: block;
  margin-left: auto;
  fill: transparent;
  stroke: #9197B3;
  width: 20px;
  height: 20px;
}
aside .menu-item a .icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #9197B3;
  margin-right: 14px;
}
aside .menu-item a .menu__img {
  margin-right: 14px;
  width: 24px;
  height: 24px;
}
aside .menu-item:hover {
  background-color: #5932EA;
}
aside .menu-item:hover a {
  color: #fff;
}
aside .menu-item:hover .arrow,
aside .menu-item:hover .icon {
  stroke: #fff;
}
aside .aside__face {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
aside .aside__face .face__img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
aside .aside__face .face__name {
  font-size: 14px;
  color: black;
  padding-bottom: 5px;
  font-weight: 500;
}
aside .aside__face .face__position {
  color: #9197B3;
  font-size: 11px;
}

@media (max-width: 1199px) {
  .aside {
    padding-right: 10px;
    padding-left: 10px;
  }
  .open {
    overflow: hidden;
  }
  .open .aside {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 10px;
    padding-left: 10px;
    visibility: visible;
    z-index: 11;
  }
  .open .aside__btn .aside__btn-img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
main {
  max-width: 1024px;
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 37px 28px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  main {
    padding: 37px 10px;
  }
}
main .main__title {
  margin-bottom: 51px;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1199px) {
  main .main__title {
    text-align: center;
  }
}
main .main__wrapper {
  background-color: #fff;
  border-radius: 30px;
  padding: 30px 38px 40px;
}
@media (max-width: 767px) {
  main .main__wrapper {
    padding: 0;
    background-color: transparent;
  }
}
main .main__wrapper .main__info__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 575px) {
  main .main__wrapper .main__info__wrapp {
    gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
main .main__wrapper .main__info h2 {
  color: black;
  font-size: 22px;
  padding-bottom: 7px;
  font-weight: 700;
}
main .main__wrapper .main__info p {
  color: #16C098;
  font-size: 14px;
}
main .main__wrapper .main__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFBFF;
  max-width: 216px;
  width: 100%;
  padding: 7px;
  border-radius: 10px;
}
main .main__wrapper .main__input img {
  width: 24px;
  height: 24px;
}
@media (max-width: 575px) {
  main .main__wrapper .main__input {
    background-color: #d2dbfe;
    max-width: 100%;
  }
}
main .main__wrapper .main__input .input {
  width: 100%;
  background-color: transparent;
  padding-left: 10px;
}

@media (max-width: 1199px) {
  .blur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  .open .blur {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background: rgba(12, 11, 11, 0.5);
    opacity: 1;
    visibility: visible;
  }
}
.container {
  width: 100%;
  max-width: 890px;
  margin-top: 25px;
  /* Адаптивный дизайн */
}
.container table {
  width: 100%;
  border-collapse: collapse;
}
.container th,
.container td {
  padding: 14px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container th {
  color: #9197B3;
}
.container button {
  width: 80px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  z-index: -1;
}
.container .active__btn {
  color: #00B087;
  border: 1px solid #00B087;
  background-color: rgba(22, 192, 152, 0.3);
}
.container .inactive__btn {
  color: #DF0404;
  border: 1px solid #DF0404;
  background-color: #FFC5C5;
}
@media (max-width: 767px) {
  .container th,
  .container td {
    padding: 10px 0;
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .container th,
  .container td {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .container table,
  .container thead,
  .container tbody,
  .container th,
  .container td,
  .container tr {
    display: block;
    width: 100%;
  }
  .container tr {
    margin-bottom: 30px;
  }
  .container th {
    display: none;
  }
  .container td {
    position: relative;
    padding-left: 50%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .container td:before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: 45%;
    padding-right: 10px;
    font-weight: bold;
    text-align: left;
  }
}

.pages {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575px) {
  .pages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding-top: 20px;
  }
}
.pages .pages__txt {
  color: #9197B3;
  font-size: 14px;
}
.pages .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.pages .numbers .number {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  border: 1px solid #9197B3;
  background-color: #F5F5F5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.pages .numbers .number:hover {
  color: #fff;
  background-color: #5932EA;
  border: 1px solid #5932EA;
}
.pages .numbers .number:hover .number-arrow {
  stroke: #fff;
}
.pages .numbers .number-arrow {
  fill: none;
  stroke: black;
  width: 15px;
  height: 15px;
}
.pages .numbers .number-arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAFBFF;
}